html {
    box-sizing: border-box; /*paddin i margin no amplien el model de caixa*/
    font-family: sans-serif;
    font-size: 16px;
  }
  
  *,
  *:after,
  *:before { 
   padding: 0;
   margin: 0;
   box-sizing: inherit; /*hereta la propietat "border-box" del tag html*/
  }